body{
    background-size: cover;
    text-align:center;
    background-color: wheat;
}
.header{
    width:100%;
}
#copy-right-footer{
    width:100%;
    text-shadow: 5px 5px 5px grey;
    line-height:3;
    background-color: white;
    color:black;
    bottom:0%;
    position:fixed;
    font-size: 23px;
}